'.source.tcl':
  'editor':
    'commentStart': '#'
    'foldEndPattern': '^\\s*\\}|^\\s*\\]'
    'increaseIndentPattern': '(?x)
        \\{ [^}"\']* $
      | \\[ [^\\]"\']* $
      '
    'decreaseIndentPattern': '(?x)
        ^ \\s* (\\s* /[*] .* [*]/ \\s*)* [}\\]]
      '
